<aside class="col-4">
  <div class="container">
    <div class="issues-board">
      <div class="header">
        <h2>Assigned To Me:</h2>
      </div>
      <div class="body">
        <div class="issues-container">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">L</th>
                    <th scope="col">Key</th>
                    <th scope="col">Summary</th>
                    <th scope="col">Priority</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><fa name="check-square"></fa></th>
                    <td>
                      <a [routerLink]="['/issues', 'IS-02']">IS-100</a>
                    </td>
                    <td><a [routerLink]="['/issues', 'IS-02']">Header creation</a></td>
                    <td>Med</td>
                  </tr>
                  <tr>
                    <th scope="row"><fa name="check-square"></fa></th>
                    <td>
                      <a [routerLink]="['/issues', 'IS-02']">IS-100</a>
                    </td>
                    <td><a [routerLink]="['/issues', 'IS-02']">Header creation</a></td>
                    <td>Med</td>
                  </tr>
                  <tr>
                    <th scope="row"><fa name="check-square"></fa></th>
                    <td>
                      <a [routerLink]="['/issues', 'IS-02']">IS-100</a>
                    </td>
                    <td><a [routerLink]="['/issues', 'IS-02']">Header creation</a></td>
                    <td>Low</td>
                  </tr>
                  <tr>
                    <th scope="row"><fa name="check-square"></fa></th>
                    <td>
                      <a [routerLink]="['/issues', 'IS-02']">IS-100</a>
                    </td>
                    <td><a [routerLink]="['/issues', 'IS-02']">Header creation</a></td>
                    <td>High</td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
    </div>
  </div>
</aside>
