@import 'variables';

aside {
  display: inline-flex;
  position: relative;
  .container {
    position: absolute;
    left: 5%;
    border: 2px dashed $border-color;
    fa {
      color: green;
    }
  }
}
