<div class="outer-container">
    <div class="todo-items" *ngIf="lists?.length > 0;else noItems" [ngClass]="{'list-selected': isListSelected == true}">
      <div class="todo-item {{list.status}}" [ngClass]="{'active': selectedList?.id == list.id, 'active-operation': isListActive == true, 'own': list.type == 'own', 'friend': list.type == 'friend'}" id="{{ list.id }}" *ngFor="let list of lists;let i = index">
        <div class="wrap" (click)="onListSelected(list)">
          <div class="header">
            <span class="input-wrap">{{ list.title }}</span>
            <h6>{{ list.createdDate }} - {{ list.creatorName }}</h6>
          </div>
          <p>{{ list.description }}</p>
        </div>
        <div class="textbox-container" *ngIf="isListActive == true && list.id == listItemId && listItemOperation != 'delete'">
          <input type="text" id="listItem" placeholder="Update Subitem" [(ngModel)]="listItemPlaceholder">
          <textarea rows="2" id="listItemDescription" placeholder="description" [(ngModel)]="listItemDescriptionPlaceholder"></textarea>
          <button class="btn main-btn" (click)="onListSave(list)">Update</button>
        </div>
          
        <div class="footer">
          <ul class="list">
            <li><fa name="edit" title="Edit" (click)="onListEdit($event, list)"></fa></li>
            <li *ngIf="list.status != 'done'"><fa name="check" title="done" (click)="onUpdateListStatus(list)"></fa></li>
            <li><fa name="trash" title="Delete" (click)="onListDelete(list.id, list.title)"></fa></li>
          </ul>
        </div>
        <span class="status" *ngIf="list.status == 'done'">Marked as complete by {{list.completedByName}}<span *ngIf="list.completionDate"> on {{list.completionDate}}</span></span>
      </div>
    </div>

  <app-message [isListSelected]="isListSelected"
                *ngIf="showEmptyChatRoom()"
                class="chat-room"
                [ngClass]="{'list-selected': isListSelected == true}"
                [listSelectEvent] = "onListSelectEvent.asObservable()"
                (incomingMessageAlert)="onIncomingMessage($event)"
                (backBtnClick)="onChatBoxBackBtnClick()"></app-message>
</div>
<ng-template #noItems>
  <div class="no-items" [ngClass]="friendsLists?.length > 0 ? '' : 'no-friend-items'">
    <h1>Welcome {{ currentUsername }}</h1>
    <div class="instructions">
      <h3>Who's this app for?</h3>
      <p>If you are looking for a task to be accomplished in group discussion manner, it's the perfect choice!!!</p>
      <hr>
      <h3>What this app actually do?</h3>
      <p>It's a real time todolists application where you can make some friends and create a group task.
        You can add tasks as well as subtasks in a particular list and all your friends will be notified immediately.
        You can discuss the progress of task in a group chat window with all your friends. You have full previlieges
        over the lists/tasks/subtasks created by your friends also.
      </p>
      <hr>
      <h3>Where to start?</h3>
      <p>Lets make some friends first and this app best suited for group task completion. You can also start 
        creating your own lists by clicking "+" symbol in the left sidebar and start creating tasks and subtasks.
      </p>
    </div>
  </div>
</ng-template>

<div class="modal" tabindex="-1" role="dialog" *ngIf="isListActive === true && listItemOperation === 'delete'">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Are you sure to delete this list?</h5>
          <button type="button" class="close" aria-label="Close" (click)="onCancelDelete()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>{{ listItemPlaceholder }}</h5>
        </div>
        <div class="modal-footer">
          <div class="human-check">
            <p>Solve below math to confirm</p>
            <div class="wrap">
              <span>{{math1}}</span> + <span>{{math2}}</span> = <input name="humancheck" [(ngModel)]="roboCheckAnswer">
            </div>
          </div>
          <button type="button" class="btn btn-success" (click)="onCancelDelete()">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="onConfirmDelete()">Yes, Delete</button>
        </div>
      </div>
    </div>
  </div>
