@import 'variables';

.outer-container {
  display: flex;
  position: absolute;
  left: 6%;
  margin: 0;
  width: 64%;
  justify-content: space-around;
  z-index: 1;
  @media screen and (max-width: 990px) {
    width: 98%;
    margin-left: 1%;
    left: 0;
  }
  form {
    z-index: inherit;
  }
  .todo-items {
    width: 100%;
    max-width: 50%;
    @media screen and (max-width: 600px) {
      max-width: 100%;
    }
    &.list-selected {
      @media screen and (max-width: 600px){
        display: none;
      }
    }
  }
  .todo-items.friends.no-items {
    position: absolute;
    max-width: 50%;
  }
  .todo-item{
    padding: .5rem;
    margin: .5rem;
    border: 2px solid $primary-red;
    position: relative;
    box-shadow: 0 0 7px 2px rgba(0,0,0,.15);
    transition: all 0.2s ease-in-out;
    color: $primary-red;
    &:hover:not(.active-operation){
      transform: scale(1.02);
      .footer {
        opacity: 1;
      }
      .status {
        opacity: 1;
        height: auto;
      }
    }
    &.active {
      background: $secondary-red;
      p {
        color: darken($primary-red, 10%);
      }
      .status {
        opacity: 1;
        height: auto;
      }
    }
    &.done {
      background: lightgreen;
      &.active {
        background: darken(lightgreen, 15%);
      }
    }
    h3 {
      font-size: 1.5rem;
    }
    .header {
      display: flex;
      justify-content: space-between;
      h6 {
        font-size: 0.8rem;
        align-self: center;
        margin-bottom: 0;
      }
      h3 {
        margin-bottom: 0;
      }
      .input-wrap {
        background: transparent;
        margin-bottom: 0;
        border: none;
        font-size: 1.25rem;
        color: $primary-red;
        font-family: 'Lora', serif;
        font-weight: 700;
        font-style: italic;
        line-height: 1.5;
        position: relative;
      }
    }
    p {
      background: transparent;
      border: none;
      -webkit-appearance: none;
      resize: none;
      color: $primary-text;
    }
    .input-wrap {
      &:hover {
        fa {
          visibility: visible;
          opacity: 1;
        }
      }
      fa {
        position: absolute;
        display: inline;
        right: 5%;
        top: 20%;
        opacity: 0;
        visibility: hidden;
      }
    }
    .footer {
      position: absolute;
      right: 0;
      bottom: 0;
      opacity: 0;
      ul {
        list-style: none;
        display: flex;
        background: #000;
        margin-bottom: 0;
        padding-left: 0;
        li {
          display: inline;
          padding: 0 5px;
        }
        fa {
          color: #fff;
        }
      }
    }
    .status {
      margin-bottom: 0;
      opacity: 0;
      height: 0;
      transition: 0.2s all ease-in-out;
      position: absolute;
      bottom: 0;
      background: #000;
      color: #fff;
      font-size: .7rem;
      left: 0;
    }
    .textbox-container {
      display: flex;
      flex-direction: column;
      input, textarea {
        max-width: 100%;
        background: darken($primary-red, 5%);
        border: none;
        border-bottom: 1px solid $primary-text;
        color: $primary-text;
        padding: .25rem .5rem;
        margin: .35rem .25rem;
        border-radius: .35rem;
        &::placeholder {
          color: darken($primary-text, 15%);
          opacity: 1;
        }
      }
      .main-btn {
        width: 25%;
        margin-left: 1%;
        border: none;
      }
    }
  }
  .chat-room {
    width: 50%;
    position: relative;
    height: 95vh;
    max-height: 100vh;
    padding: .25rem;
    margin: .5rem .25rem;
    text-align: center;
    border: 2px solid $primary-red;
    background: $secondary-red;
    @media screen and (max-width: 600px) {
      display: none;
    }
    &.list-selected {
      @media screen and (max-width: 600px){
        display: block;
        width: 100%;
        background: #e36b92;
      }
    }
  }
  .no-items {
    width: auto;
    color: $primary-text;
    text-align: center;
    h1 {
      font-family: 'Carrois Gothic SC', sans-serif;
      font-style: normal;
      font-size: 3.5rem;
      display: inline-block;
      border-bottom: 1px solid;
      @media screen and (max-width: 767px) {
        font-size: 2.5rem;
      }
    }
    .no-friend-items {
      position: relative;
      left: auto;
      transform: none;
    }
    a {
      color: darken($primary-text, 5%);
      text-decoration: underline;
      cursor: pointer;
    }
    .instructions {
      text-align: left;
      padding: 1rem 2.5rem;
      margin: 1rem 1rem 0;
      border: 2px solid;
      hr {
        border: 1px solid rgba(0,0,0,0.1);
        max-width: 95%;
      }
    }
    p {
      font-size: 1.1rem;
      color: darken($primary-red, 15%);
    }
  }
  p {
    padding-left: 0;
  }
}

.modal {
  display: block;
  .human-check {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  input {
    max-width: 50px;
    text-align: center;
  }
  p {
    padding-left: 0;
  }
}