.outer-container {
  display: inline-block;
  position: absolute;
  left: 8%;
  margin: 1rem .5rem;
  width: 90%;
  .issue-container {
    width: 50%;
    display: inline-block;
    .btn {
      margin: 0 .5rem;
      background-color: rgba(0,0,0,.4);
    }
    .summary-container {
      margin: 1rem 0;
      .summary {
        border: 2px solid;
        padding: .5rem;
        border-radius: 16px;
        ul {
          padding: 0;
          fa {
            color: blueviolet;
            margin: 0 5px;
            &.medium {
              color: #ffb115
            }
            &.high {
              color: #ff0000;
            }
            &.low {
              color: #33cc07;
            }
          }
          li {
            list-style: none;
            width: 100%;
            display: flex;
            padding: .5rem 0;
            span {
              width: 50%;
              &.head {
                font-weight: 700;
              }
              &.status {
                font-weight: 700;
                width: auto;
                padding: 3px .3rem;
                border-radius: .5rem;
                &.in-progress{
                  background: #ffb115;
                }
                &.todo {
                  background: #ff0000;
                }
                &.done {
                  background: #33cc07;
                }
              }
            }
          }
        }
      }
    }
    .description {
      textarea {
        width: 100%;
      }
    }
    .activity {
      margin: 1rem 0;
      .activity-container {
        .tabs {
          padding: 0;
          border: 2px solid;
          li {
            list-style: none;
            font-size: 1.1rem;
            font-weight: 700;
            width: 50%;
            text-align: center;
            display: inline-block;
            cursor: pointer;
            &.active {
              background: rgba(0,0,0,.3);
            }
          }
        }
        .comments {
          .comment {
            .title {
              display: flex;
              justify-content: space-between;
            }
          }
          textarea {
            width: 80%;
            margin-bottom: 5px;
          }
          .btn {
            margin: 5px;
          }
        }
      }
    }
  }
  .details-container {
    display: inline-block;
    position: absolute;
    width: 40%;
    top: 10%;
    right: 5%;
    .summary {
      position: relative;
      ul {
        padding: 10px;
        margin: 0;
        li {
          list-style: none;
          padding: 1rem;
          width: 100%;
          span {
            width: 50%;
            display: inline-block;
            &.head {
              font-weight: 700;
              font-size: 1.1rem;
            }
            fa {
              color: blueviolet;
              margin: 0 5px;
            }
          }
        }
      }
    }
  }
}
