<ngx-ui-loader></ngx-ui-loader>

<app-sidebar></app-sidebar>
<aside class="issue-container" *ngIf="issueDetails && issueDetails.issueId">
  <!-- Basic details wrapper -->
  <div class="basic-details-wrap">
    <div class="inside-wrap">
      <h3>
        <a [routerLink]="['/issue', issueDetails.issueId]">
          {{ issueDetails.issueId }}
        </a>
      </h3>
      <h1>{{ issueDetails.title }}</h1>
      <h2>
        <a [routerLink]="['/project', issueDetails.project.projectId]" title="{{issueDetails.project.title}}">
          <span><fa name="free-code-camp"></fa></span>
          <span>{{issueDetails.project.title}}</span>
        </a>
      </h2>
    </div>
  </div>

  <!-- Other infor and action buttons wrap -->
  <div class="action-wrap">

    <!-- Content wrap -->
    <div class="content-wrap">
      <div class="left">
        <div>
          <span>Title: </span> <span class="value">{{ issueDetails.title }}</span>
        </div>
        <div>
          <span>Reporter: </span><span><a [routerLink]="[ '/statistics', issueDetails.reporter.userId]">
            <span><fa name="user"></fa></span> {{ issueDetails.reporter.firstName }} {{ issueDetails.reporter.lastName }}</a></span>
        </div>
        <div>
          <span>Assignee: </span><span><a [routerLink]="[ '/statistics', issueDetails.assignee.userId]">
          <span><fa name="user"></fa></span> {{issueDetails.assignee.firstName }} {{issueDetails.assignee.lastName }}</a></span>
          <span *ngIf="isAssignee() || isReporter()" class="edit" (click)="isAssigneeEditing = true">
            <fa name="edit"></fa>
          </span>
          <span *ngIf="isAssigneeEditing" class="assignee-form">
            <tag-input [ngModel]="issueDetails.formAssignee"
                       [placeholder]="'Add Assignee'"
                       [secondaryPlaceholder]="'Add Assignee'"
                       [maxItems]="1"
                       (onAdd)="onUpdateAssignee($event)"
                       theme="foundation-theme">
              <tag-input-dropdown
                [autocompleteItems]="users"
                [showDropdownIfEmpty]="true"
                [keepOpen]="false">
                </tag-input-dropdown>
            </tag-input>
            <span>
              <span class="fa-wrap"><fa name="check" size="2x" class="save" (click)="onUpdateAssignee(null, true)"></fa></span>
              <span class="fa-wrap"><fa name="times" size="2x" class="cancel" (click)="onCancelUpdateAssignee()"></fa></span>
            </span>
          </span>
          <p *ngIf="isAssigneeEditing && isAssignee()" class="error">
            *Note that your privilieges to this issue will be affected once you update this!!!
          </p>
        </div>
        <div>
          <span>Status: </span>
          <span class="position-relative">
            <select [ngModel]="issueDetails.status" [disabled]="!(isAssignee() || isReporter())">
              <option *ngFor="let option of statusGroup" value="{{option.value}}">{{ option.name }}</option>
            </select>
          </span>
        </div>
        <div>
          <span>Priority: </span>
          <span class="position-relative">
            <select [ngModel]="issueDetails.priority" [disabled]="!isReporter()">
              <option *ngFor="let option of priorityGroup" value="{{option.value}}">{{ option.name }}</option>
            </select>
          </span>
        </div>
      </div>
      <div class="right">
        <div>
          <span>Reported On: </span> <span class="value">{{ issueDetails.createdDate }}</span>
        </div>
        <div>
          <span>Last Updated: </span> <span class="value">{{ issueDetails.lastModifiedOn }}</span>
        </div>
        <div>
          <span>Active Duration: </span> <span class="value">{{ issueDuration }}</span>
        </div>
        <div>
          <span>Project: </span> <div class="d-inline"><a [routerLink]="['/project', issueDetails.project.projectId]" title="{{issueDetails.project.title}}">
            <span><fa name="free-code-camp"></fa></span>
            <span>{{issueDetails.project.title}}</span>
          </a></div>
        </div>
        <div>
          <span>Labels:</span>
          <span>
            <tag-input [ngModel]="issueDetails.labels"
                       [placeholder]="'Add label'"
                       [secondaryPlaceholder]="'Add label'"
                       theme="foundation-theme">
              <tag-input-dropdown [autocompleteItems]="labels" [showDropdownIfEmpty]="true" [keepOpen]="false">
                </tag-input-dropdown>
            </tag-input>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Description and watchers wrap -->
  <div class="body-wrap">
    <div class="description-wrap">
      <h4>Description</h4>
      <p [froalaEditor]="textEditorConfig" [(froalaModel)]="issueDetails.description"></p>
    </div>
    <div class="watchers-wrap">
      <h4>Watchers</h4>
      <div class="watchers-box">
          <tag-input [ngModel]="issueDetails.formWatchers"
                     [placeholder]="'Add a watcher...'"
                     [secondaryPlaceholder]="'Add a watcher'"
                     theme="foundation-theme">
              <tag-input-dropdown [autocompleteItems]="users" [showDropdownIfEmpty]="true" [keepOpen]="false">
                </tag-input-dropdown>
          </tag-input>
      </div>
    </div>
  </div>

  <div class="gallery-wrap" *ngIf="galleryImages">
      <h4>Attachments</h4>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
  </div>

  <!-- Comments and activity wrap -->
  <div class="activities-wrap">
    <div class="comments-wrap">
      <h4>Comments</h4>
      <div class="comments-box">
        <div class="comments">
          <div class="comment">
            <div class="header">
              <span>Vikas Pulluri</span>
              <span>Jan 31, 8:00 PM</span>
            </div>
            <div class="body">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                  It has survived not only five centuries
              </p>
            </div>
          </div>
          <div class="comment">
            <div class="header">
              <span>Vikas Pulluri</span>
              <span>Jan 31, 8:00 PM</span>
            </div>
            <div class="body">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                  It has survived not only five centuries
              </p>
            </div>
          </div>
          <div class="comment">
            <div class="header">
              <span>Vikas Pulluri</span>
              <span>Jan 31, 8:00 PM</span>
            </div>
            <div class="body">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                  It has survived not only five centuries
              </p>
            </div>
          </div>
        </div>
        <div class="input-box">
          <textarea rows="4" title="Add Comment" placeholder="Add Comment"></textarea>
          <button class="btn action-btn">Add</button>
        </div>
      </div>
    </div>
    <div class="activity-wrap">
      <h4>Activity Log</h4>
      <div class="activity-box">
        <div class="activities">
          <div class="activity">
            <p>Vikas Pulluri has updated the status to in-progress on Jan 31 7:30 PM</p>
          </div>
          <div class="activity">
            <p>Vikas Pulluri has added a comment on Jan 31 7:30 PM</p>
          </div>
          <div class="activity">
            <p>Vikas Pulluri has added a watcher on Jan 31 7:30 PM</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>