<aside>
  <div class="contact-container">
    <div class="wrapper">
        <h1>Contact Us</h1>
        <p>Thanks for your time here. Let us know your suggestions/problems with the app:</p>
        <form #contactForm="ngForm" (submit)="onContactFormSubmit(contactForm)">
          <div class="form-group">
            <label for="query">What kind of query you have?</label>
            <select class="form-control" id="query" required [(ngModel)]="query" name="query">
              <option [value]="option.value" *ngFor="let option of queries">{{option.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea name="description" rows="8" class="form-control" id="description" required [(ngModel)]="description"></textarea>
          </div>
          <button class="btn action-btn" name="submit-btn" type="submit">submit</button>
        </form>
    </div>
  </div>
</aside>