aside {
  display: inline-block;
  position: absolute;
  left: 10%;
  top: 5%;
  width: 80%;
  .projects-container {
    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .projects-list {
      margin-top: 1rem;
      th span, td span {
        margin: 5px;
      }
      fa {
        color: blueviolet;
      }
    }
  }
}
