<app-sidebar></app-sidebar>
<aside>
  <div class="projects-container">
    <div class="header">
      <h1>Projects</h1>
      <button class="btn btn-success" [routerLink]="['/create-project']">Create Project</button>
    </div>
    <div class="projects-list">
      <table class="table">
        <thead>
          <tr class="table-primary">
            <th scope="col">Name</th>
            <th scope="col">Key</th>
            <th scope="col">Type</th>
            <th scope="col">Lead</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light">
            <th scope="row">
              <span><fa name="free-code-camp"></fa></span>
              <a [routerLink]="['/project', 'bLaMpe8Is']">UI Development</a>
            </th>
            <td>UID</td>
            <td>Software</td>
            <td>
              <span><fa name="user"></fa></span>
              <a [routerLink]="['/user/user-1']" title="Vikas">Vikas</a>
            </td>
          </tr>
          <tr class="table-light">
            <th scope="row">
              <span><fa name="free-code-camp"></fa></span>
              <a [routerLink]="['/project/project-1']">Backend Development</a>
            </th>
            <td>BED</td>
            <td>Software</td>
            <td>
              <span><fa name="user"></fa></span>
              <a [routerLink]="['/user/user-2']" title="Vikas">Vikas</a>
            </td>
          </tr>
          <tr class="table-light">
            <th scope="row">
              <span><fa name="free-code-camp"></fa></span>
              <a [routerLink]="['/project/project-1']">Code Integration</a>
            </th>
            <td>CD</td>
            <td>Software</td>
            <td>
              <span><fa name="user"></fa></span>
              <a [routerLink]="['/project/project-1']" title="Vikas">Vikas</a>
            </td>
          </tr>
          <tr class="table-light">
            <th scope="row">
              <span><fa name="free-code-camp"></fa></span>
              <a [routerLink]="['/project/project-1']">Deployment</a>
            </th>
            <td>DP</td>
            <td>Deployment</td>
            <td>
              <span><fa name="user"></fa></span>
              <a [routerLink]="['/project/project-1']" title="Vikas">Vikas</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</aside>