<app-mini-sidebar></app-mini-sidebar>
<aside>
  <div class="projects-container">
    <div class="header">
      <h1>Projects</h1>
      <button class="btn btn-success">Create Project</button>
    </div>
    <app-filter-panel></app-filter-panel>
    <div class="projects-list">
      <table class="table">
        <thead>
          <tr class="table-primary">
            <th scope="col">Name</th>
            <th scope="col">Key</th>
            <th scope="col">Type</th>
            <th scope="col">Lead</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-light">
            <th scope="row">
              <span><fa name="free-code-camp"></fa></span>
              <a href="#">UI Development</a>
            </th>
            <td>UID</td>
            <td>Software</td>
            <td>
              <span><fa name="user"></fa></span>
              <a href="#" title="Vikas">Vikas</a>
            </td>
          </tr>
          <tr class="table-light">
            <th scope="row">
              <span><fa name="free-code-camp"></fa></span>
              <a href="#">Backend Development</a>
            </th>
            <td>BED</td>
            <td>Software</td>
            <td>
              <span><fa name="user"></fa></span>
              <a href="#" title="Vikas">Vikas</a>
            </td>
          </tr>
          <tr class="table-light">
            <th scope="row">
              <span><fa name="free-code-camp"></fa></span>
              <a href="#">Code Integration</a>
            </th>
            <td>CD</td>
            <td>Software</td>
            <td>
              <span><fa name="user"></fa></span>
              <a href="#" title="Vikas">Vikas</a>
            </td>
          </tr>
          <tr class="table-light">
            <th scope="row">
              <span><fa name="free-code-camp"></fa></span>
              <a href="#">Deployment</a>
            </th>
            <td>DP</td>
            <td>Deployment</td>
            <td>
              <span><fa name="user"></fa></span>
              <a href="#" title="Vikas">Vikas</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</aside>
