@import 'variables';
@import 'mixins';
aside {
    @include aside();
    .projects-container {
      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .projects-list {
        margin-top: 1rem;
        th span, td span {
          margin: 5px;
        }
        fa {
          color: $orange;
        }
      }
      a {
        color: $orange;
      }
    }
  }
  