.contact-container {
  left: 8%;
  position: relative;
  max-width: 90%;
  text-align: center;
  h1 {
    @media screen and (max-width: 900px) {
      font-size: 1.5rem;
    }
  }
  .wrapper {
    display: inline-block;
    margin: 2.5rem .5rem;
    .form-group {
      text-align: left;
      label {
        font-weight: 700;
      }
    }
  }
}
