@import 'variables';

@mixin fontawesomeBig($width) {
    color: $primary-bg;
    display: inline-block;
    border: 2px solid $primary-bg;
    width: $width;
    height: $width;
    border-radius: 50%;
    margin-top: .5rem;
}

@mixin formControl() {
    background-color: transparent;
    border: 1px solid $primary-bg;
    color: $secondary-text;
    &:focus {
    border-color: $secondary-bg;
    }
}

@mixin formBoxShadow() {
    box-shadow: -2px -2px 10px $white, 2px 2px 10px $white, 0 0 20px $secondary-bg, 0 0 40px $secondary-bg, 0 0 60px $secondary-bg, 0 0 80px $secondary-bg, 0 0 100px $secondary-bg;
}

@mixin mainBtn() {
    -webkit-appearance: none;
    width: 150px;
    border: 1px solid $primary-bg;
    color: $primary-bg;
    padding: .5rem;
    transition: 0.2s all ease-in;
    &:hover {
        background: $primary-bg;
        border: 1px solid $secondary-bg;
        color: $white;
    }
}