$white: #fff;
$black: #000;
$primary-bg: #093e96;
$primary-text: #f8f8f8;

$secondary-bg: darken($primary-bg, 15%);
$secondary-text: #000;

// Font families
$carrois: 'Carrois Gothic SC', sans-serif;
$mont: 'Montserrat', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;