@import 'variables';
@import 'mixins';

.flex-container {
    display: flex;
    .welcome-screen {
        width: 65%;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}

.auth-container {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 1rem;
  width: calc(100% - 65% - 2rem);
  display: flex;
  align-items: center;
  .outer-container {
    width: 100%;
    .signup-form {
      display: block;
      background-color: $white;
      color: $primary-bg;
      border-radius: 1rem;
      @include formBoxShadow();
      fa { 
        @include fontawesomeBig(90px);
        border: none;
      }
      .fa {
        margin-top: .8rem;
      }
      a {
        color: $primary-bg;
      }
      form {
        margin: .75rem;
        padding: .75rem;
        label span {
          font-size: 1.4rem;
        }
      }
      .form-control {
        @include formControl();
      }
    }
  }
}
