@import 'variables';

.auth-container {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $primary-red;
  .outer-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    width: 40%;
    .signup-form {
      display: block;
      border: 1px solid $primary-icons;
      background-color: $primary-icons;
      border-radius: 2px;
      fa {
        color: $primary-red;
        display: inline-block;
        border: 2px solid;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        margin-top: .5rem;
      }
      .fa {
        margin-top: .8rem;
      }
      form {
        margin: .75rem;
        padding: .75rem;
      }
    }
  }
}
