@import 'variables';

.mini-sidebar {
  display: inline-block;
  height: 100vh;
  position: fixed;
  background-color: $primary-red;
  padding: 0;
  text-align: center;
  width: 6%;
  .site-links {
    display: inline-block;
    height: 100%;
    width: 100%;
    ul {
      padding: 0;
      &:last-child {
        position: absolute;
        bottom: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
      }
      li {
        list-style: none;
        margin: 0 auto;
        fa {
          font-size: 1.5rem;
          color: $primary-icons;
        }
      }
    }
    .profile-links {
      a > span {
        color: $primary-icons;
        text-transform: uppercase;
        font-size: 1rem;
        display: block;
        &:hover, &:focus {
          text-decoration: none;
          font-style: italic;
        }
      }
    }
  }
}
