<div class="mini-sidebar col-1">
  <div class="site-links">
    <ul class="nav-links">
      <li>
        <a [routerLink]="['/dashboard']" routerLinkActive="active" title="Dashboard">
          <fa name="dashcube"></fa>
        </a>
      </li>
      <li>
        <a href="#" title="Search">
            <fa name="search"></fa>
        </a>
      </li>
      <li>
        <a [routerLink]="['/create']" routerLinkActive="router-link-active"  title="Create Issue">
            <fa name="plus"></fa>
        </a>
      </li>
      <li>
        <a [routerLink]="['/issues']" title="Recent Issues">
            <fa name="star"></fa>
        </a>
      </li>
      <li>
        <a [routerLink]="['/projects']" title="Projects">
            <fa name="briefcase"></fa>
        </a>
      </li>
      <li>
        <a [routerLink]="['/stats']" title="Statistics">
            <fa name="line-chart"></fa>
        </a>
      </li>
    </ul>
    <ul class="profile-links">
      <li>
        <a href="#" title="profile">
            <fa name="user-circle"></fa>
            <span>Vikas</span>
        </a>
      </li>
    </ul>
  </div>
</div>
