<div class="mini-sidebar col-1 d-lg-block">
  <div class="site-links">
    <ul class="nav-links">
      <li>
        <a [routerLink]="['/dashboard']" routerLinkActive="active" title="Dashboard">
          <fa name="dashcube"></fa>
        </a>
      </li>
      <li>
        <a [routerLink]="['/notifications']" title="Notifications">
          <fa name="bell"></fa>
          <span class="badger" *ngIf="notificationBadge === true"></span>
        </a>
      </li>
      <li>
        <a title="Create Todo List" appToggleModal>
            <fa name="plus"></fa>
        </a>
      </li>
      <li>
        <a [routerLink]="['/friends']" title="Friends">
            <fa name="users"></fa>
        </a>
      </li>
      <li>
        <a [routerLink]="['/contact']">
          <fa name="envelope"></fa>
        </a>
      </li>
    </ul>
    <ul class="profile-links">
      <li>
        <a title="profile" class="dropdown">
          <fa name="user-circle"></fa>
          <label for="profile-dropdown">{{username}}</label>
          <input type="checkbox" id="profile-dropdown">
          <div class="dropdown-content">
            <a [routerLink]="[ '/user/profile']">Profile</a>
            <a (click)="onLogout()">Logout</a>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark d-lg-none">
  <label for="nav-toggler" class="navbar-toggler-icon"></label>
  <input class="d-none navbar-toggler" type="checkbox" id="nav-toggler">
  <div class="navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active" title="Home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/friends']" title="Friends">Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" appToggleModal title="Create Todolist">Create List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/notifications']" title="Notifications">Notifications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact']" title="Contact me">Contact</a>
      </li>
      <li class="nav-item profile-links dropdown2">
        <a title="profile" class="dropdown nav-link">
          <fa name="user-circle"></fa>
          <label for="profile-dropdown2">{{username}}</label>
          <input type="checkbox" id="profile-dropdown2" class="d-none">
          <div class="dropdown-content">
            <a [routerLink]="[ '/user/profile']">Profile</a>
            <a (click)="onLogout()">Logout</a>
          </div>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="item-creation-container d-none">
  <div class="inner-container">
    <img src="assets/images/close.png" (click)="onCloseModal()">
    <h2>Create a TODO list item:</h2>
    <form #listForm="ngForm" (submit)="onListCreated(listForm)">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" placeholder="Title" ngModel required #title="ngModel">
        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger mt-1">
          <span *ngIf="title.errors.required" class="error-message">Title is required!!!</span>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea name="description" class="form-control" ngModel required #description="ngModel"></textarea>
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger mt-1">
          <span *ngIf="description.errors.required" class="error-message">Description is required!!!</span>
        </div>
      </div>
      <button class="btn btn-success" name="create-btn">Create</button>
      <button class="btn btn-danger" name="cancel-btn" (click)="onCloseModal()">Cancel</button>
      <div class="warning">
        <i>*Note that all your friends can view this list</i>
      </div>
    </form>
  </div>
</div>
