<div class="chat-wrapper" *ngIf="showChatRoom();else noSelectedItem">
  <div class="head">
    <span class="float-left" class="back-btn" (click)="onBackButtonClick()">Back</span>
    <h2>{{ selectedList?.title }}</h2>
    <button class="float-right undo-btn btn btn-danger" (click)="onUndoClick()">undo</button>
  </div>
  <hr/>
  <div class="body">
    <div class="messages-wrapper">
    <app-sub-item [items]="items" [selectedList]="selectedList" [itemType]="'main-item'" [undoClickEvent]="undoClickEvent"></app-sub-item>
    </div>
  </div>
  <form #msgForm="ngForm" (submit)="onSendMessage()">
    <div class="chat-box">
      <input type="text" name="message" placeholder="Your message" required [(ngModel)]="message">
      <button class="btn main-btn" type="submit">Send</button>
    </div>
  </form>
</div>

<ng-template #noSelectedItem>
  <div class="no-selected-item">
    <h4>Select any list to view it's messages and chat with your friends!!!</h4>
  </div>
</ng-template>
