@import 'variables';

.chat-wrapper {
  position: relative;
  h2 {
    text-align: center;
    color: $primary-red;
    display: inline;
  }
  .undo-btn {
    position: relative;
    font-size: 1.2rem;
    color: $primary-red;
    right: .75rem;
    top: .75rem;
    border: 1px solid;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .back-btn {
    display: none;
    @media screen and (max-width: 600px) {
      display: block;
      float: left;
      position: relative;
      text-decoration: underline;
      left: .75rem;
      top: .75rem;
    }
  }
  hr {
    border-top: 2px solid $primary-text;
  }
  .body {
    overflow-y: scroll;
    min-height: 70vh;
    max-height: 70vh;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    &::-webkit-scrollbar-thumb {
      background-color: $primary-red;
      outline: 1px solid $secondary-red;
    }
  }
 
}
.no-selected-item {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.chat-box {
  position: fixed;
  bottom: 5vh;
  width: 30%;
  display: flex;
  @media screen and (max-width: 990px) {
    width: 45%;
    bottom: 1rem;
  }
  @media screen and (max-width: 600px) {
    width: 92%;
  }
  input {
    width: 85%;
    background: darken($primary-red, 5%);
    border: none;
    border-bottom: 1px solid $primary-text;
    color: $primary-text;
    padding: 1px .5rem;
    &::placeholder {
      color: darken($primary-text, 15%);
      opacity: 1;
    }
  }
  .main-btn {
    width: 14%;
    margin-left: 1%;
    border: none;
  }
}