<aside>
  <div class="sidebar">
    <ul class="main-links">
      <li>
        <a [routerLink]="['/dashboard']" [routerLinkActive]="'active'" title="Dashboard">
          <fa name="dashcube"></fa>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/projects']" [routerLinkActive]="'active'" title="Projects">
          <fa name="briefcase"></fa>
          <span>Projects</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/stats']" [routerLinkActive]="'active'" title="Statistics">
          <fa name="line-chart"></fa>
          <span>Statistics</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/notifications']" [routerLinkActive]="'active'" title="Notifications">
          <fa name="bell"></fa>
          <span>Notifications</span>
        </a>
      </li>
      <li>
        <a href="/create" title="Create Issue">
          <fa name="plus"></fa>
          <span>Create Issue</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/issues']" [routerLinkActive]="'active'" title="Issues">
          <fa name="bolt"></fa>
          <span>Issues</span>
        </a>
      </li>
      <li>
        <a href="/contact" title="Report problem?">
          <fa name="envelope"></fa>
          <span>Contact Me</span>
        </a>
      </li>
    </ul>
    <ul class="profile-links">
      <li>
        <a title="profile" class="dropdown">
          <label for="profile-dropdown">
            <fa name="user-circle"></fa>
            <label>Vikas Pulluri</label>
          </label>
          <input type="checkbox" id="profile-dropdown">
          <div class="dropdown-content">
            <a [routerLink]="['/user/profile']">Profile</a>
            <a (click)="onLogout()">Logout</a>
          </div>
        </a>
      </li>
    </ul>
  </div>
</aside>
