<aside class="col-2">
  <div class="sidebar">
    <ul class="main-links">
      <li>
        <a [routerLink]="['/']" title="Dashboard">
          <fa name="dashcube"></fa>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#" title="Search">
          <fa name="search"></fa>
          <span>Search</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/']"  title="Projects">
          <fa name="briefcase"></fa>
          <span>Projects</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/']" title="Statistics">
          <fa name="line-chart"></fa>
          <span>Statistics</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/']"><fa name="plus"></fa></a>
        <a [routerLink]="['/']" title="Issues">
          <span>Issues</span>
          <span class="caret"></span>
        </a>
      </li>
    </ul>
    <ul>
      <li class="profile">
        <span><fa name="user" size="3x"></fa></span>
        <span>Vikas</span>
      </li>
    </ul>
  </div>
</aside>
