<aside class="project-container">
  <div class="header">
    <div class="short-name">
      <h2>{{ projectShortName$ }}</h2>
    </div>
    <div class="project-name">
      <h1>{{ projectId$ }}</h1>
    </div>
  </div>
  <div class="main-content">
    <div class="info-container">
      <div class="head">
        <h4>Basic Info</h4>
      </div>
      <div class="basic-info">
        <div>
          <span>Lead: </span> <span><a [routerLink]="['/statistics/user-id']" alt="Vikas Pulluri"><span><fa name="user"></fa></span> Vikas Pulluri</a></span>
        </div>
        <div>
          <span>Created On: </span><span>Jan 21, 2019 5:40PM</span>
        </div>
        <div>
          <span>Status: </span> <span>Active</span>
        </div>
      </div>
      <div class="members">
        <div class="head">
          <h4>Members</h4>
        </div>
        <div class="body">
            <tag-input [ngModel]="user" [placeholder]="'Add new member...'" [onlyFromAutocomplete]="true" theme="foundation-theme">
                <tag-input-dropdown [autocompleteItems]="users" [showDropdownIfEmpty]="true">
                  </tag-input-dropdown>
            </tag-input>
        </div>
      </div>
    </div>
    <div class="stats-container">
      <div class="stat-box all">
        <a [routerLink]="['/issues']" [queryParams]="{projectId: 'xxx', issueType: 'all'}">
          <div class="head">
            <h1>8</h1>
          </div>
          <div class="footer">
            <h6>Issues</h6>
          </div>
        </a>
      </div>
      <div class="stat-box done">
        <a [routerLink]="['/issues']" [queryParams]="{projectId: 'yyy', issueType: 'done'}">
          <div class="head">
            <h1>4</h1>
          </div>
          <div class="footer">
            <h6>Done</h6>
          </div>
        </a>
      </div>
      <div class="stat-box in-progress">
        <a [routerLink]="['/issues']" [queryParams]="{projectId: 'xxx', issueType: 'in-progress'}">
          <div class="head">
            <h1>2</h1>
          </div>
          <div class="footer">
            <h6>In Progress</h6>
          </div>
        </a>
      </div>
      <div class="stat-box todo">
        <a [routerLink]="['/issues']" [queryParams]="{projectId: 'xxx', issueType: 'todo'}">
          <div class="head">
            <h1>2</h1>
          </div>
          <div class="footer">
            <h6>Todo</h6>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="join-text">
    <h5>Want to Join this project? You can make a request to project lead here.</h5>
    <button class="main-btn">Join now</button>
  </div>
</aside>