<!-- Loading spinner -->
<ngx-spinner type="timer" size="large"></ngx-spinner>

<div class="container">
  <div class="row">
    <div class="reset-password-form form">
      <h1>Reset Your Password</h1>
      <form #resetPasswordForm="ngForm" (submit)="onFormSubmit(resetPasswordForm)">
        <div class="form-group">
          <label for="code">Enter Verification Code Sent To Registered Email<span>*</span></label>
          <textarea class="form-control" rows="6" name="verificationCode" required ngModel #vcode="ngModel"></textarea>
          <div *ngIf="vcode.invalid && (vcode.dirty || vcode.touched)" class="alert alert-danger mt-1">
            <span *ngIf="vcode.errors.required" class="error-message">Verification code is required!!!</span>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Enter Your New Password<span>*</span></label>
          <input type="password" class="form-control" name="password" required ngModel minlength="5" #password="ngModel">
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger mt-1">
            <span *ngIf="password.errors.required" class="error-message">Password is required!!!</span>
            <span *ngIf="password.errors.minlength" class="error-message">Password should have atleast 5 characters!!!</span>
          </div>
        </div>
        <div class="form-group">
          <label for="confirm-password">Re-enter Your New Password<span>*</span></label>
          <input type="password" class="form-control" name="confirmPassword" required ngModel #cpassword="ngModel" (keyup)="onConfirmPasswordEntry(password.value, cpassword.value)">
          <div *ngIf="cpassword.invalid && (cpassword.dirty || cpassword.touched)" class="alert alert-danger mt-1">
            <span *ngIf="cpassword.errors.required" class="error-message">Confirmation password is required!!!</span>
          </div>
          <div *ngIf="isInvalidConfirmPassword && isInvalidConfirmPassword == true" class="alert alert-danger mt-1">
            <span class="error-message">Password and Confirm password should be same!!!</span>
          </div>
        </div>
        <div class="form-group submit-btn-group">
          <button class="btn main-btn" type="submit" name="forgot-btn">Reset Password</button>
          <a [routerLink]="['/login']" alt="Sign In">Login Here</a>
        </div>
      </form>
    </div>
  </div>
</div>