<div class="container">
  <div class="row">
    <div class="reset-password-form form">
      <h1>Reset Your Password</h1>
      <form #resetPasswordForm="ngForm" (submit)="onFormSubmit(resetPasswordForm)">
        <div class="form-group">
          <label for="code">Enter Your Verification Code Sent To Email<span>*</span></label>
          <textarea class="form-control" rows="6" name="verificationCode" required ngModel></textarea>
        </div>
        <div class="form-group">
          <label for="password">Enter Your New Password<span>*</span></label>
          <input type="password" class="form-control" name="password" required ngModel>
        </div>
        <div class="form-group">
          <label for="confirm-password">Re-enter Your New Password<span>*</span></label>
          <input type="password" class="form-control" name="confirmPassword" required ngModel>
        </div>
        <div class="form-group submit-btn-group">
          <button class="btn main-btn" type="submit" name="forgot-btn">Reset Password</button>
          <a [routerLink]="['/login']" alt="Sign In">Login Here</a>
        </div>
      </form>
    </div>
  </div>
</div>