@import 'variables';
@import 'mixins';

.row {
    justify-content: center;
}
.container {
    min-height: 100vh;
    position: relative;
    background: $primary-red;
    margin: 0;
    max-width: none;
    color: $primary-text;
    .reset-password-form {
        width: 50%;
        margin: 2rem 0;
        h1 {
            text-align: center;
            margin: 2rem 0;
            border-bottom: 2px solid;
            font-style: normal;
            text-transform: uppercase;
            font-family: 'Carrois Gothic SC', sans-serif;
        }
        .form-control {
            @include formControl();
        }
        a {
            float: right;
            text-decoration: underline;
            font-size: 1rem;
        }
    }
}
.form-control {
    @include formControl();
}
