@import 'variables';
p {
    color: $white;
    max-width: 75%;
}

.intro-text {
    position: relative;
    text-align: left;
    padding: 0 5rem;
    h1, h2 {
        text-transform: uppercase;
    }
    span.title {
        text-transform: none;
        border-right: 0.25rem solid;
        margin-left: 5px;
    }
}