<div class="container col-xs-12 col-md-12 flex-container">
    <!-- Welcome screen -->
    <div class="welcome-screen">
      <app-welcome></app-welcome>
    </div>
    <!-- Forgot screen -->
  <div class="auth-container forgot-screen">
      <div class="outer-container">
        <div class="forgot-form form">
          <h2>Forgot your password?</h2>
          <form #forgotForm="ngForm" (submit)="onSubmit(forgotForm)">
            <div class="form-group">
              <input class="form-control" type="email" name="email" placeholder="Email" ngModel required email="true" #email="ngModel">
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mt-1">
                <span *ngIf="email.errors.required" class="error-message">Email is required!!!</span>
                <span *ngIf="email.errors.email" class="error-message">Valid email is required!!!</span>
              </div>
            </div>
            <div class="form-group submit-btn-group">
              <button class="btn main-btn" type="submit" name="forgot-btn">Recover Password</button>
            </div>
            <div class="additional-links">
              <a [routerLink]="['/login']" alt="Sign In">Go Back</a>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>