<div class="container">
  <div class="row">
    <div class="forgot-password-form form">
      <h2>Forgot your password?<br> Don't worry, we have got your back!!!</h2>
      <form #forgotPasswordForm="ngForm" (submit)="onFormSubmit()">
        <div class="form-group">
          <label for="email">Enter Your Registered Email<span>*</span></label>
          <input class="form-control" type="text" name="email" placeholder="Email" required [(ngModel)]="email">
        </div>
        <div class="form-group submit-btn-group">
          <button class="btn main-btn" type="submit" name="forgot-btn">Recover Password</button>
          <a [routerLink]="['/login']" alt="Sign In">Go Back</a>
        </div>
      </form>
    </div>
  </div>
</div>