@import 'variables';
@import 'mixins';

.container {
    min-height: 100vh;
    position: relative;
    background: $primary-red;
    margin: 0;
    max-width: none;
    color: $primary-text;
    .forgot-password-form {
        @include horizontalCenterDiv();
        margin: 2rem 0;
        font-size: 1.5rem;
        @media screen and (max-width: 700px) {
            max-width: 95%;
            position: relative;
            transform: none;
            left: 0;
            text-align: center;
            margin-left: 2.5%;
        }
        h2 {
            text-align: center;
            margin: 2rem 0;
            border-bottom: 2px solid;
            font-style: normal;
            font-family: 'Carrois Gothic SC', sans-serif;
        }
        .form-control {
            @include formControl();
        }
        a {
            float: right;
            text-decoration: underline;
            font-size: 1rem;
        }
        .main-btn {
            @media screen and (max-width: 700px) {
                float: left;
                margin-left: 2.5%;
            }
        }
    }
}
.form-control {
    @include formControl();
}
