@import 'variables';
@import 'mixins';

.flex-container {
    display: flex;
    .welcome-screen {
        width: 65%;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }
}
.auth-container {
  height: 100vh;
  margin: 0;
  padding: 0;
  @media screen and (max-width: 767px) {
    height: auto;
  }
  .outer-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100%;
    display: flex;
    padding: 0 2rem;
    justify-content: center;
    border-radius: 5px;
    width: calc(100% - 65% - 2rem);
    background: $secondary-bg;
    @include formBoxShadow();
    @media screen and (max-width: 767px) {
      position: relative;
      top: auto;
      transform: none;
      flex-direction: column;
      padding: 0 .25rem;
    }
    .form {
      display: block;
      background-color: transparent;
      color: $primary-pink;
      width: 100%;
      @media screen and (max-width: 767px) {
        width: auto;
        margin: 1rem;
        border-right: none !important;
        a {
          font-size: .8rem;
        }
      }
      a {
          color: $primary-bg;
      }
      fa {
        @include fontawesomeBig(100px);
      }
      label span {
        font-size: 1.4rem;
      }
      form {
        margin: .75rem auto;
        padding: .75rem;
      }
    }
    .form-control {
      @include formControl();
      padding: 2rem 1rem;
    }
    .main-btn {
      @include mainBtn(100%);
      padding: 1.2rem;
    }
    .additional-links {
      display: flex;
      flex-direction: column;
      a {
        color: $primary-pink;
        &:hover {
          color: $secondary-pink;
        }
      }
    }
  }
}
