<app-mini-sidebar></app-mini-sidebar>
<div class="issues-container">
  <h1>Issues Tracker:</h1>
  <div class="inner-container">
    <div class="container in-progress">
      <h4>In Progress</h4>
      <div class="issues">
        <ul class="list">
          <li class="header">
            <span>Priority</span>
            <span>Key</span>
            <span>Summary</span>
          </li>
          <li>
            <span>Med</span>
            <span><a [routerLink]="['/issues', 'IS-01']">IS-01</a></span>
            <span><a [routerLink]="['/issues', 'IS-01']">Develop header</a></span>
          </li>
          <li>
            <span>High</span>
            <span><a [routerLink]="['/issues', 'IS-02']">IS-02</a></span>
            <span><a [routerLink]="['/issues', 'IS-02']">Develop footer</a></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="container todo">
      <h4>Todo</h4>
      <div class="issues">
        <ul class="list">
          <li class="header">
            <span>Priority</span>
            <span>Key</span>
            <span>Summary</span>
          </li>
          <li>
            <span>Med</span>
            <span><a [routerLink]="['/issues', 'IS-01']">IS-01</a></span>
            <span><a [routerLink]="['/issues', 'IS-01']">Develop header</a></span>
          </li>
          <li>
            <span>High</span>
            <span><a [routerLink]="['/issues', 'IS-02']">IS-02</a></span>
            <span><a [routerLink]="['/issues', 'IS-02']">Develop footer</a></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="container done">
      <h4>Done</h4>
      <div class="issues">
        <ul class="list">
          <li class="header">
            <span>Priority</span>
            <span>Key</span>
            <span>Summary</span>
          </li>
          <li>
            <span>Med</span>
            <span><a [routerLink]="['/issues', 'IS-01']">IS-01</a></span>
            <span><a [routerLink]="['/issues', 'IS-01']">Develop header</a></span>
          </li>
          <li>
            <span>High</span>
            <span><a [routerLink]="['/issues', 'IS-02']">IS-02</a></span>
            <span><a [routerLink]="['/issues', 'IS-02']">Develop footer</a></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
