@import 'variables';

.notifications-container {
  position: relative;
  width: calc(100% - 8%);
  left: 6%;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 990px) {
    width: 98%;
    left: 0;
    margin-left: 1%;
  }
  .notification {
    padding: .5rem;
    background: $primary-red;
    color: #fff;
    margin: .25rem;
    li {
      list-style: none;
      &:first-child {
        font-weight: 700;
        font-size: 1.15rem;
      }
    }
  }
  .no-notifications {
    position: absolute;
    left: 50%;
    display: block;
    transform: translate(-50%);
    font-size: 1.5rem;
    font-weight: 800;
  }
}

