<app-mini-sidebar></app-mini-sidebar>
<div class="stats-container">
  <div class="outer-container">
    <div class="header">
      <h1>Statistics</h1>
    </div>
    <div class="filter-panel">
        <div class="dropdown projects">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter By
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
    <div class="cards-container">
      <div class='card'>
        <h3>8</h3>
        <h6>Issues Created</h6>
      </div>
      <div class='card'>
        <h3>8</h3>
        <h6>Issues Assigned To You</h6>
      </div>
      <div class='card'>
        <h3>4</h3>
        <h6>Issues Done</h6>
      </div>
      <div class="card">
        <h3>4</h3>
        <h6>Issues In Progress</h6>
      </div>
    </div>
    <!-- Bar chart -->
  </div>
</div>
